#carouselHeader .item {
   height: 100vh;
}

.carousel .item > img {
    position: relative;
    width: 100%;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
}

.carousel-inner > .item > img {
    height: 100vh;
}
