.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(86, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #5662e8;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 40px;
    width: 40px;
    right: 30px;
    bottom: 30px;
  }
}

#carouselHeader .item {
   height: 100vh;
}

.carousel .item > img {
    position: relative;
    width: 100%;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
}

.slider {
    width: 50%;
    margin: 39.5px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

footer {
  background-color: #222222;
  padding: 25px 0;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  font-size: 0.8em !important;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

#contact_map {
  height: 450px;
}

section#contact {
  background-color: #222222;
  background-image: url('../img/components/map-image.png');
  background-position: center;
  background-repeat: no-repeat;
}
section#contact .section-heading {
  color: white;
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbbbbb;
}
section#contact .text-danger {
  color: #e74c3c;
}

.white {
  color: white !important;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
 }

.flex-item {
  padding: 5px;
  width: 315px;
  height: 200px;
  margin: 10px;
  
  text-align: center;
}

.flex-item-img {
  width: 449.5px;
  padding: 0 !important;
  margin: 0 !important;
}

.modal-header-margin {
  margin-bottom: 15px;
}

.modal-font {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  text-decoration: none !important;
}

p {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.bg-grey {
  background-color: #f6f6f6;
}

.jumbotron {
  background-color: #405FF0;
  color: #fff;
  padding: 100px 25px;
}

.container-fluid-about {
  padding: 60px 50px;
}

.logo-small {
  color: #405FF0;
  font-size: 50px;
}

.logo {
  color: #405FF0;
  font-size: 200px;
}

.container-fluid-about h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

.container-fluid-about h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: justify;
}

.navbar-bg-about {
  background-color: #182256;
}

@media (min-width: 768px) {
  .navbar-default .nav > li.active-aux > a,
  .navbar-default .nav > li.active-aux > a:focus {
    color: #ffffff;
  }
  .navbar-default.affix .nav > li.active-aux > a,
  .navbar-default.affix .nav > li.active-aux > a:focus {
    color: #405FF0;
  }
}

.see-more-box {
  border-radius: 0 0 900px 900px;
}

.invisible {
  visibility:hidden;
}

.form-input-left {
  padding-left: 0px; 
  padding-right: 5px;
}

.form-input-right {
  padding-left: 5px; 
  padding-right: 0px;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.font-16 {
  font-size: 16px;
}

.hr-lg {
  border-width: 2px;
  max-width: none;
}

.close {
  font-size: 30px !important;
}

.join-box {
  background-color: #182256;
}

.join-box:hover {
  background-color: #0c1231;
}

.join-info {
  padding: 20px 10px;
}

.join-info > p, 
.join-info > h1, 
.join-info > h2, 
.join-info > h3, 
.join-info > h4, 
.join-info > h5, 
.join-info > h6 {
  color: white;
}

.join-info > p {
  margin: 35px 0px 20px 0px;
}

.join-container {
  width: 80%;
  margin: 0 auto;
}

.join-container > .flex-container > .flex-item {
  height: 100% !important;
}

.no-decoration {
  text-decoration: none !important;
}
