// Navbar alterno

@media (min-width: 768px) {
  .navbar-alt {
    background-color: darken($theme-primary, 40%);

    .nav > li.active > a,
    .nav > li.active > a:focus {
      color: white !important;
    }

    &.affix {
      .nav > li.active > a,
      .nav > li.active > a:focus {
        color: $theme-primary !important;
      }
    }
  }
}

// Footer

footer {
  background-color: $gray-darker;
  padding: 25px 0;
  color: transparentize(white, 0.3);
  text-align: center;
  font-size: 0.8em !important;
  @include sans-serif-font();
}

// Flex item

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  @include display-flex();
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  padding: 15px;
  width: 300px;
  height: 200px;
  margin: 10px;
  text-align: center;
}

// Modal xl

.modal-xl {

  .modal-body {
    @include sans-serif-font();
    text-decoration: none !important;

    h2 {
      margin-bottom: 15px;
    }

    p, ul {
      font-size: 16px;
    }

    hr {
      border-width: 2px;
      max-width: none;
    }

    .close {
      font-size: 30px !important;
    }
  }

}

.linkto-modal {
  @include sans-serif-font();
  text-decoration: none !important;
  cursor: pointer;
}

.bg-gray {
  background-color: $gray-lighter;
}

.container-fluid-about {
  padding: 60px 50px;
  color: $gray-dark;
  text-align: justify;

  h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
  }

  h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    margin-bottom: 30px;
  }
}

.white {
  color: white !important;
}

.no-decoration {
  text-decoration: none !important;
}

.logo {
  color: $theme-primary;
  font-size: 200px;
}

.invisible {
  visibility:hidden;
}

.form-input-left {
  padding-left: 0px; 
  padding-right: 5px;
}

.form-input-right {
  padding-left: 5px; 
  padding-right: 0px;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.img-circle {
  border-radius: 15%;
}

.img-solution {
  width: 100%;
}

// Accordion join form

button.accordion {
  background-color: lighten($theme-primary, 35%);
  color: $gray-dark;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;

  &.active, &:hover {
    background-color: lighten($theme-primary, 30%);
  }
}

div.accordion-panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  margin-bottom: 6px;
  @include transition(max-height,0.2s,ease-out);

  .panel-content {
    padding-top: 20px;
  }
}

.rotate {
  @include transition(all,0.1s,linear);

  &.down {
    @include rotate(90deg);
  }
}

// Dropdown

.navbar-default {
  .nav {
    li {
      &.open {
        a:hover, a:focus {
          background-color: transparentize(black, 0.7);
          color: white;
        }
      }

      .dropdown-menu {
        background-color: transparentize(black, 0.3);
        font-size: 16px;
        font-weight: 500;
        li {
          color: white !important;
          a {
            color: transparentize(white,0.3);
            &:hover, &:focus {
              background-color: transparentize(black, 0.3);
            }
          }

          h4 {
            color: white !important;
            text-align: center;
          }
        } 
      }
    }
  }
  @media (min-width: 768px) {

    &.affix {
      .nav {
        li {
          &.open {
            a:hover, a:focus {
              background-color: white;
              color: $theme-primary;
            }
          }

          .dropdown-menu {
            background-color: white;
            font-size: 16px;
            li {
              a {
                color: transparentize(black,0.3);
                &:hover, &:focus {
                  background-color: transparentize($gray-lighter, 0.3);
                  color: $theme-primary
                }
              }

              h4 {
                color: black !important;
                text-align: center;
                font-weight: 500;
              }
            } 
          }
        }
      }
    }
  }
}
