<% content_for :nav_alt do %>
  navbar-alt
<% end %>
<section>
  <div class="container-fluid-about">
    <div class="row">
      <div class="col-lg-8">
        <h2>Acerca de nosotros</h2>
        <h4>Somos una firma de consultoría de negocios y de tecnologías de información fundada en el año 2003 por un equipo multidisciplinario de profesionales de reconocido prestigio y amplia trayectoria habiéndose desempeñado como Socios y Directivos de firmas internacionales líderes en servicios profesionales en las prácticas de Consultoría y Auditoría.</h4>
        <h4>Ofrecemos a las empresas y a sus directivos <strong>servicios de consultoría</strong> especializada y un amplio portafolio de <strong>soluciones empresariales</strong> de Tecnologías de Información que permitan atender sus necesidades específicas, implementar sus proyectos estratégicos, optimizar sus procesos de negocio así como mejorar sus controles y cumplimientos a nuevas regulaciones locales y globales con el objetivo final de contribuir a mejorar sus beneficios y potenciar sus ventajas competitivas.</h4>
      </div>
      <div class="col-lg-4 text-center vertical-center">
        <img class="img-circle img-responsive" src="<%= image_url("media/about/nosotros.jpg")%>"  alt="Servicio al cliente"> 
      </div>
    </div>
  </div>

  <div class="container-fluid-about bg-gray">
    <div class="row">
      <div class="col-lg-4 text-center">
        <img class="img-circle img-responsive" src="<%= image_url("media/about/nuestros_valores.jpg")%>"  alt="Integridad"> 
      </div>
      <div class="col-lg-8">
        <h2>Nuestros valores</h2>
        <h4><strong>MISIÓN:</strong> Asistir y apoyar a nuestros clientes para contribuir a mejorar el rendimiento de sus negocios mediante el desarrollo de servicios y soluciones que agreguen valor a sus negocios y por nuestra cercanía, sentido de urgencia y valores de nuestro equipo, constituirnos en sus socios de confianza.</h4> 
        <h4><strong>VISIÓN:</strong> Ser la mejor firma de servicios profesionales de negocios y tecnologías de información en organizaciones en crecimiento por la relación de confianza, el compromiso y el aporte de valor que reconocen y recomiendan entusiastamente nuestros clientes </h4>
        <h4><strong>EQUIPO:</strong> Está compuesto por calificados profesionales que han logrado combinar experiencias, talentos, conocimientos y mejores prácticas para responder a las exigencias de nuestros clientes con pasión y excelencia</h4>
      </div>
    </div>
  </div>

	<div class="container-fluid-about">
    <div class="row">
      <div class="col-lg-8">
        <h2>Gestión Integral de Seguridad</h2>
        <h4>Angkor Group, establece como objetivos de base, puntos de partida y soporte de la seguridad de la información, los siguientes ítems:</h4>
        <ul>
            <li>La protección de los datos de carácter personal y la intimidad de las personas.</li>
            <li>La salvaguarda de los registros de la organización.</li>
            <li>La protección de los derechos de propiedad intelectual.</li>
            <li>La documentación de la política de seguridad de la información.</li>
            <li>La asignación de responsabilidades de seguridad.</li>
            <li>La formación y capacitación para la seguridad de la información.</li>
            <li>El registro de las incidencias de seguridad.</li>
            <li>La gestión de la continuidad del negocio.</li>
            <li>La gestión de los cambios que pudieran darse en la empresa relativos a la seguridad.</li>
		</ul>
        <h4>Angkor Group, en la elaboración e implantación de su Sistema de Gestión de Seguridad de la Información adquiere los siguientes compromisos:</h4>
         <ul>
            <li>Desarrollar productos y servicios conformes con los requisitos legislativos, identificando para ello las normas de aplicación a las líneas de negocio desarrolladas por la organización e incluidas en el alcance del Sistema de Gestión de la Seguridad de la Información.</li>
            <li>Establecimiento y cumplimiento de los requisitos contractuales con las partes interesadas.</li>
            <li>Definir los requisitos de formación en seguridad y proporcionar la formación necesaria en dicha materia a las partes interesadas, mediante el establecimiento de planes de formación.</li>
            <li>Prevención y detección de virus y otro software malicioso, mediante el desarrollo de políticas específicas y el establecimiento de acuerdos contractuales con organizaciones especializadas.</li>            
            <li>Gestión de la continuidad del negocio, desarrollando planes de continuidad.</li>
            <li>Establecimiento de las consecuencias de las violaciones de la política de seguridad, las cuales serán reflejadas en los contratos firmados con las partes interesadas, proveedores y empleados.</li>
            <li>Actuar en todo momento dentro de la más estricta ética profesional.</li>
		</ul>
      </div>
      <div class="col-lg-4 text-center vertical-center">
        <img class="img-circle img-responsive" src="<%= image_url("media/about/politicas_seguridad.jpg")%>"  alt="Gestión Integral de Seguridad"> 
      </div>
    </div>
  </div>
</section>
