<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-alt">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Navegador</span> Menú <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/">Angkor Group</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <a href="/#about">¿Quiénes somos?</a>
        </li>
        <li>
          <a href="/#services">Servicios</a>
        </li>
        <li>
          <a href="/#portfolio">Soluciones</a>
        </li>
        <li>
          <a href="/partners">Partners</a>
        </li>
        <li>
          <a href="/contactanos">Contáctanos</a>
        </li>
        <li>
          <a href="/unete">Únete</a>
        </li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acceder <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><h4>Clientes</h4></li>
            <li><a href="#">E-support</a></li>
            <li><a href="http://190.117.252.113:8889/">Factura electrónica</a></li>
            <li><a href="#">ERP en la nube</a></li>
            <li><a href="#">Control de asistencias</a></li>
            <li><a href="#">Inteligencia de negocios</a></li>
            <li role="separator" class="divider"></li>
            <li><h4>Staff</h4></li>
            <li><a href="#">Correo</a></li>
            <li><a href="#">Gestión de tiempos</a></li>
            <li><a href="#">Autoservicio</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section>
  <div class="container-fluid-about">
    <div class="row">
      <div class="col-sm-8">
        <h2>Acerca de nosotros</h2>
        <h4>Somos una firma de consultoría de negocios y de tecnologías de información fundada en el año 2003 por un equipo multidisciplinario de profesionales de reconocido prestigio y amplia trayectoria habiéndose desempeñado como Socios y Directivos de firmas internacionales líderes en servicios profesionales en las prácticas de Consultoría y Auditoría.</h4>
        <h4>Ofrecemos a las empresas y a sus directivos <strong>servicios de consultoría</strong> especializada y un amplio portafolio de <strong>soluciones empresariales</strong> de Tecnologías de Información que permitan atender sus necesidades específicas, implementar sus proyectos estratégicos, optimizar sus procesos de negocio así como mejorar sus controles y cumplimientos a nuevas regulaciones locales y globales con el objetivo final de contribuir a mejorar sus beneficios y potenciar sus ventajas competitivas.</h4>
      </div>
      <div class="col-sm-4 text-center vertical-center">
        <img class="img-circle" src="<%= image_url("media/about/integrity.png")%>" alt="Integridad">
      </div>
    </div>
  </div>

  <div class="container-fluid-about bg-gray">
    <div class="row">
      <div class="col-sm-4 text-center">
        <img class="img-circle" src="<%= image_url("media/about/client-service-tech.jpg")%>"  alt="Servicio al cliente"> 
      </div>
      <div class="col-sm-8">
        <h2>Nuestros valores</h2>
        <h4><strong>MISIÓN:</strong> Asistir y apoyar a nuestros clientes para contribuir a mejorar el rendimiento de sus negocios mediante el desarrollo de servicios y soluciones que agreguen valor a sus negocios y por nuestra cercanía, sentido de urgencia y valores de nuestro equipo, constituirnos en sus socios de confianza.</h4> 
        <h4><strong>VISIÓN:</strong> Ser la mejor firma de servicios profesionales de negocios y tecnologías de información en organizaciones en crecimiento por la relación de confianza, el compromiso y el aporte de valor que reconocen y recomiendan entusiastamente nuestros clientes </h4>
        <h4><strong>EQUIPO:</strong> Está compuesto por calificados profesionales que han logrado combinar experiencias, talentos, conocimientos y mejores prácticas para responder a las exigencias de nuestros clientes con pasión y excelencia</h4>
      </div>
    </div>
  </div>

</section>
