<% content_for :nav_alt do %>
  navbar-alt
<% end %>
<section>
  <div class="container-fluid-about">
    <div class="row">
      <div class="col-lg-8">
        <h2>Acerca de nosotros</h2>
        <h4>Somos una firma de consultoría de negocios y de tecnologías de información fundada en el año 2003 por un equipo multidisciplinario de profesionales de reconocido prestigio y amplia trayectoria habiéndose desempeñado como Socios y Directivos de firmas internacionales líderes en servicios profesionales en las prácticas de Consultoría y Auditoría.</h4>
        <h4>Ofrecemos a las empresas y a sus directivos <strong>servicios de consultoría</strong> especializada y un amplio portafolio de <strong>soluciones empresariales</strong> de Tecnologías de Información que permitan atender sus necesidades específicas, implementar sus proyectos estratégicos, optimizar sus procesos de negocio así como mejorar sus controles y cumplimientos a nuevas regulaciones locales y globales con el objetivo final de contribuir a mejorar sus beneficios y potenciar sus ventajas competitivas.</h4>
      </div>
      <div class="col-lg-4 text-center vertical-center">
        <img class="img-circle img-responsive" src="<%= image_url("media/about/client-service-tech.jpg")%>"  alt="Servicio al cliente"> 
      </div>
    </div>
  </div>

  <div class="container-fluid-about bg-gray">
    <div class="row">
      <div class="col-lg-4 text-center">
        <img class="img-circle img-responsive" src="<%= image_url("media/about/buen-clima-laboral.jpg")%>"  alt="Integridad"> 
      </div>
      <div class="col-lg-8">
        <h2>Nuestros valores</h2>
        <h4><strong>MISIÓN:</strong> Asistir y apoyar a nuestros clientes para contribuir a mejorar el rendimiento de sus negocios mediante el desarrollo de servicios y soluciones que agreguen valor a sus negocios y por nuestra cercanía, sentido de urgencia y valores de nuestro equipo, constituirnos en sus socios de confianza.</h4> 
        <h4><strong>VISIÓN:</strong> Ser la mejor firma de servicios profesionales de negocios y tecnologías de información en organizaciones en crecimiento por la relación de confianza, el compromiso y el aporte de valor que reconocen y recomiendan entusiastamente nuestros clientes </h4>
        <h4><strong>EQUIPO:</strong> Está compuesto por calificados profesionales que han logrado combinar experiencias, talentos, conocimientos y mejores prácticas para responder a las exigencias de nuestros clientes con pasión y excelencia</h4>
      </div>
    </div>
  </div>

</section>
