<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-alt">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Navegador</span> Menú <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/">Angkor Group</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/#about">¿Quiénes somos?</a>
        </li>
        <li>
          <a href="/#services">Servicios</a>
        </li>
        <li class="active">
          <a href="/#portfolio">Soluciones</a>
        </li>
        <li>
          <a href="/partners">Partners</a>
        </li>
        <li>
          <a href="/contactanos">Contáctanos</a>
        </li>
        <li>
          <a href="/unete">Únete</a>
        </li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acceder <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><h4>Clientes</h4></li>
            <li><a href="#">E-support</a></li>
            <li><a href="http://190.117.252.113:8889/">Factura electrónica</a></li>
            <li><a href="#">ERP en la nube</a></li>
            <li><a href="#">Control de asistencias</a></li>
            <li><a href="#">Inteligencia de negocios</a></li>
            <li role="separator" class="divider"></li>
            <li><h4>Staff</h4></li>
            <li><a href="#">Correo</a></li>
            <li><a href="#">Gestión de tiempos</a></li>
            <li><a href="#">Autoservicio</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section>
  <div class="container-fluid-about slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-8">
        <h2>ERP O7 Solution</h2>
        <p>Implementado con éxito en múltiples empresas industriales, comerciales, 
        de servicios y del Sector Público. Incluye manufactura, comercial, logística, 
        presupuestos, finanzas, contabilidad, recursos humanos, activo fijo y costos.</p>
      </div>
      <div class="col-sm-4 text-center vertical-center">
        <img class="img-solution" src="<%= image_url("portfolio/fullsize/o7erp.png")%>">
      </div>
    </div>
  </div>
  <div class="container-fluid-about bg-gray slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-4 text-center">
        <img class="img-solution" src="<%= image_url("portfolio/fullsize/o7h.png")%>">
      </div>
      <div class="col-sm-8">
        <h2>O7 H/Solution: Administración de personal y RRHH</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid-about slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-8">
        <h2>O7Invoice: Emisión de facturas electrónicas</h2>
        <p>Solución web, que se integra a sus aplicaciones de facturación y genera los comprobantes electrónicos, comunicando en tiempo real o tiempos configurables dentro de los plazos establecidos a SUNAT y clientes.</p>
      </div>
      <div class="col-sm-4 text-center vertical-center">
        <img class="img-solution" src="<%= image_url("portfolio/fullsize/o7invoice.png")%>">
      </div>
    </div>
  </div>
  <div class="container-fluid-about bg-gray slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-4 text-center">
        <span class="glyphicon glyphicon-globe logo"></span> 
      </div>
      <div class="col-sm-8">
        <h2>O7Express: Solución de facturación en la nube y factura electrónica</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid-about slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-8">
        <h2>O7CAS: Control de asistencias</h2>
        <p>Sistema de control de asistencias integrado en línea con dispositivos de marcación y manejo de turnos, horarios, tareas, compensaciones y alertas.</p>
      </div>
      <div class="col-sm-4 text-center vertical-center">
        <span class="glyphicon glyphicon-signal logo"></span>
      </div>
    </div>
  </div>
  <div class="container-fluid-about bg-gray slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-4 text-center">
        <span class="glyphicon glyphicon-globe logo"></span> 
      </div>
      <div class="col-sm-8">
        <h2>FastMark: Marcación móvil</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid-about slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-8">
        <h2>O7abc: Costeo de actividades</h2>
        <p>Solución orientada a costear los productos y servicios bajo un modelo basado en actividades.</p>
      </div>
      <div class="col-sm-4 text-center vertical-center">
        <img class="img-solution" src="<%= image_url("portfolio/fullsize/o7abc.png")%>">
      </div>
    </div>
  </div>
  <div class="container-fluid-about bg-gray slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-4 text-center">
        <span class="glyphicon glyphicon-globe logo"></span> 
      </div>
      <div class="col-sm-8">
        <h2>O7Law: Gestión de Estudios de Abogados</h2>
        <p>Solución especializada para la Gestión de procesos de estudios de abogados. Incluye el registro y control de tiempos, control de gastos, liquidaciones, facturación, cobranzas e indicadores de gestión.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid-about slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-8">
        <h2>O7Track: Seguimiento de cobranzas</h2>
        <p>Portal de seguimiento de cobranzas y manejo de alertas</p>
      </div>
      <div class="col-sm-4 text-center vertical-center">
        <span class="glyphicon glyphicon-signal logo"></span>
      </div>
    </div>
  </div>
  <div class="container-fluid-about bg-gray slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-4 text-center">
        <span class="glyphicon glyphicon-globe logo"></span> 
      </div>
      <div class="col-sm-8">
        <h2>O7Advisory: Gestión de tiempos</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid-about slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-8">
        <h2>O7Health: Historias clínicas y atención de pacientes</h2>
        <p>Solución especializada para el manejo de historias clínicas, atenciones médicas, emisión de recetas, stocks de farmacias, facturación y cobranzas.</p>
      </div>
      <div class="col-sm-4 text-center vertical-center">
        <span class="glyphicon glyphicon-signal logo"></span>
      </div>
    </div>
  </div>
  <div class="container-fluid-about bg-gray slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-4 text-center">
        <span class="glyphicon glyphicon-globe logo"></span> 
      </div>
      <div class="col-sm-8">
        <h2>O7ATP: Retenciones y percepciones electrónicas</h2>
        <p>Solución web que permite la generación de comprobantes de retención y percepción electrónica para la comunicación con SUNAT y proveedores.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid-about slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-8">
        <h2>O7Read: Recepción de facturas electrónicas</h2>
        <p>Solución web que permite la lectura y captura de facturas electrónicas de proveedores para su importación en las cuentas por pagar.</p>
      </div>
      <div class="col-sm-4 text-center vertical-center">
        <span class="glyphicon glyphicon-signal logo"></span>
      </div>
    </div>
  </div>
  <div class="container-fluid-about bg-gray slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-4 text-center">
        <span class="glyphicon glyphicon-globe logo"></span> 
      </div>
      <div class="col-sm-8">
        <h2>O7PLE: Libros electrónicos</h2>
        <p>Solución que permite gestionar el repositorio de libros electrónicos PLE a través de interfaces con sus operaciones de ventas, compras, inventarios, comprobantes contables así como la importación de archivos de Excel y mantenimiento de otros libros.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid-about slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-8">
        <h2>O7SelfService: Autoservicio</h2>
        <p>Portal web orientado a los colaboradores y supervisores para el manejo de solicitudes, aprobaciones, programaciones y consulta a información personal e información de los equipos de trabajo por el supervisor.</p>
      </div>
      <div class="col-sm-4 text-center vertical-center">
        <span class="glyphicon glyphicon-signal logo"></span>
      </div>
    </div>
  </div>
  <div class="container-fluid-about bg-gray slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-4 text-center">
        <span class="glyphicon glyphicon-globe logo"></span> 
      </div>
      <div class="col-sm-8">
        <h2>O7Analytics: Business intelligence</h2>
        <p>Solución de Inteligencia de Negocios que incluye el manejo de tableros de control e indicadores de gestión del negocio y de segmentos específicos.</p>
      </div>
    </div>
  </div>
</section>
