<% content_for :nav_alt do %>
  navbar-alt
<% end %>
<section>
  <div class="container-fluid-about slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-8">
        <h2>ERP O7/Solution - Solución integral, configurable y completa</h2>
        <p>Implementado con éxito en múltiples empresas industriales, comerciales, de servicios y del Sector Público. Incluye Manufactura, Comercial, Logística, Presupuestos, Finanzas, Contabilidad, Recursos humanos, Activo fijo y Costos. Utilizada por empresas medianas en crecimiento y Grupos empresariales líderes en el país. Arquitectura orienta a procesos y servicios que facilitan su rápida implementación y adaptabilidad a las necesidades de cada negocio.</p>
      </div>
      <div class="col-sm-4 text-center vertical-center">
        <img class="img-solution" src="<%= image_url("solutions/o7erp.png")%>">
      </div>
    </div>
  </div>
  <div class="container-fluid-about bg-gray slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-4 text-center">
        <img class="img-solution" src="<%= image_url("solutions/o7h.png")%>">
      </div>
      <div class="col-sm-8">
        <h2>O7 H/Solution - Solución de Recursos Humanos ágil, segura y escalable</h2>
        <p>Elegido por múltiples corporaciones multinacionales y locales en el país, altamente referida por nuestros clientes, ejecutivos y jefes de las áreas de recursos humanos y compensaciones. Incluye Reclutamiento y Selección, Contratación, Control de asistencias, Remuneraciones y Pagos, Bienestar Social, Diseño Organizacional, Capacitación, Desarrollo y Evaluación, Provisiones, Liquidaciones, AFP, Bancos, SUNAT (Plame, T-Registro y Libros Electrónicos), Portal de autoservicio y Gestión Analítica.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid-about slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-8">
        <h2>O7Invoice - Solución de Facturación Electrónica en la nube y On Premise: inmediata, intuitiva y segura (certificada por SUNAT- PSE)</h2>
        <p>Solución web instalada en empresas con cobertura a nivel nacional, con alto volumen de facturación y de diversos sectores económicos. Se integra a sus aplicaciones de facturación y genera los comprobantes electrónicos, comunicando en tiempo real o tiempos configurables dentro de los plazos establecidos para la validación con SUNAT y comunicación a sus clientes. Incluye emisión de comprobantes electrónicos a Clientes como: Facturas electrónicas, guías electrónicas, comprobantes de percepción y documentos autorizados electrónicos) y comprobantes de retención electrónicos a sus proveedores.</p>
      </div>
      <div class="col-sm-4 text-center vertical-center">
        <img class="img-solution" src="<%= image_url("solutions/o7invoice.png")%>">
      </div>
    </div>
  </div>
  <div class="container-fluid-about bg-gray slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-4 text-center vertical-center">
        <img class="img-solution" src="<%= image_url("solutions/o7abc.png")%>">
      </div>
      <div class="col-sm-8">
        <h2>O7 ABC - Solución de Costeo ABC de Arquitectura Abierta, Flexible y Analítica para establecer modelos de tarifación complejos y determinación de negocios y actividades rentables</h2>
        <p>Utilizada en empresas del mercado de valores, utilities, servicios, así como conglomerados de múltiples unidades de negocio. Incluye servicios web para integración con otras fuentes de información de presupuestos, contabilidad, proyectos y otros inductores. Manejo de múltiples modelos de costeo como: Recursos, Objetos de Costo, Actividades, Subactividades, Productos, Tarifas y distribución mediante inductores con diferentes niveles de recursividad.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid-about slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-8">
        <h2>O7Express - Solución en la Nube para empresas pequeñas y medianas que requieren transformar sus procesos de negocio mediante una plataforma ágil, segura y con altos estándares de cumplimiento</h2>
        <p>Implementado en empresas que han transformado de manera acelerada sus procesos manuales en electrónicos (facturación, pagos, libros contables, estados financieros) por temas de cumplimiento o por oportunidades de reducción de costos y mejora en la eficiencia de sus operaciones.</p>
      </div>
      <div class="col-sm-4 text-center">
        <span class="glyphicon glyphicon-globe logo"></span> 
      </div>
    </div>
  </div>
  <div class="container-fluid-about bg-gray slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-4 text-center">
        <span class="glyphicon glyphicon-globe logo"></span> 
      </div>
      <div class="col-sm-8">
        <h2>O7Analytics – Solución de Gestión Analítica – Business Intelligence: Fiable, Simple y de Alto Rendimiento.</h2>
        <p>Solución de Inteligencia de Negocios que incluye el manejo de tableros de control e indicadores de gestión del negocio y de segmentos específicos.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid-about slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-8">
        <h2>O7CAS - Control de Accesos y Asistencias del Personal - Seguro, Biométrico y Móvil</h2>
        <p>Solución implementada en empresas con plantas ubicadas en diferentes puntos del país pertenecientes al sector de manufactura, utilities, minería, retail, universidades entre otros. Permite la integración con equipos biométricos de reconocimiento dactilar, proximidad y facial para asegurar una inmediata captura de huellas en la oficina, en el campo o en actividades móviles que pueda desempeñar un colaborador. Permite la programación de turnos, asignación de colaboradores, control de accesos, control de asistencias, formulación de políticas y configuración de reglas de negocio, procesamiento de asistencias por los supervisores, compensaciones de horas y gestión de papeletas electrónicas pre y post marcación.</p>
      </div>
      <div class="col-sm-4 text-center vertical-center">
        <span class="glyphicon glyphicon-signal logo"></span>
      </div>
    </div>
  </div>
  <div class="container-fluid-about bg-gray slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-4 text-center">
        <span class="glyphicon glyphicon-globe logo"></span> 
      </div>
      <div class="col-sm-8">
        <h2>O7FastMark - Control de Asistencia móvil para Teletrabajo y Colaboradores en Campo</h2>
        <p>Solución en la nube que permite mediante reconocimiento facial y GPS la captura correcta, en línea y con la ubicación autorizada para aquellos colaboradores que tienen asignadas actividades fuera del ambiente de trabajo. Utilizada con éxito en empresas del sector financiero, utilities, construcción, supervisores y fuerzas de ventas.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid-about slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-8">
        <h2>O7SelfService - Portal de Autoservicio del Colaborador</h2>
        <p>Solución web que permite a los colaboradores de la empresa consultar su información (boletas, certificados, saldos de cuenta corriente, saldos de vacaciones, saldos de compensaciones, marcaciones de asistencia, información personal, crecimiento en la empresa, capacitaciones pendientes, evaluaciones, entre otros) así como gestionar diversas solicitudes (capacitación, vacaciones, permisos, préstamos, cambios de datos personales y de sus familiares, actualizaciones de estudios). Los supervisores pueden visualizar información de su equipo y aprobar solicitudes mediante flujos de trabajo configurables con notificaciones vía correo electrónico.</p>
      </div>
      <div class="col-sm-4 text-center vertical-center">
        <span class="glyphicon glyphicon-signal logo"></span>
      </div>
    </div>
  </div>
  <div class="container-fluid-about bg-gray slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-4 text-center">
        <span class="glyphicon glyphicon-globe logo"></span> 
      </div>
      <div class="col-sm-8">
        <h2>O7Law - Gestión de Tiempos, Asuntos y Facturación para Estudios de Abogados</h2>
        <p>Solución en la nube que permite a las firmas legales gestionar asuntos, clientes, conflictos de intereses y tarifas, así como el registro de tiempos de los abogados, liquidaciones de tiempos, liquidaciones de gastos refacturables, generación de facturas, facturas electrónicas, seguimiento a la cobranza y cobros. Incluye dashboards para medir el nivel de leverage, look up, velocidad de facturación y cobranzas, antigüedad, rentabilidad entre otros.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid-about slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-8">
        <h2>O7Health - Historias Clínicas y Atención De Pacientes</h2>
        <p>Solución especializada para el manejo de historias clínicas, atenciones médicas, emisión de recetas, atención en farmacias, control de stock y reposiciones, control de servicios de terceros (laboratorios), facturación de punto de venta, cobranzas y gestión de caja. Manejo de sistemas de fidelización y comisión de ventas.</p>
      </div>
      <div class="col-sm-4 text-center vertical-center">
        <span class="glyphicon glyphicon-signal logo"></span>
      </div>
    </div>
  </div>
  <div class="container-fluid-about bg-gray slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-4 text-center">
        <span class="glyphicon glyphicon-globe logo"></span> 
      </div>
      <div class="col-sm-8">
        <h2>O7Advisory - Gestión del Tiempo de Equipos de Trabajo</h2>
        <p>Solución en la nube para registrar actividades en diferentes proyectos y/o centros de costo. Compartir actividades en grupos de trabajo y generar estadística de los tiempos incurridos por persona, actividad, centro de costo, unidad de negocio, etc. el resultado de la colección de esta información periódica es el correcto inductor para la distribución del costo de personal por centros de costo y actividades.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid-about slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-8">
        <h2>O7PLE - Generación de Libros Electrónicos</h2>
        <p>Solución en la nube que permite importar comprobantes contables de diferentes fuentes de información para consolidar un repositorio de libros electrónicos de acuerdo a la normativa de SUNAT, los cuales pueden ser consultados, actualizados y que permiten generar los archivos planos para la declaración de los catálogos de libros contables mensuales y anuales.</p>
      </div>
      <div class="col-sm-4 text-center">
        <span class="glyphicon glyphicon-globe logo"></span> 
      </div>
    </div>
  </div>
  <div class="container-fluid-about bg-gray slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-4 text-center vertical-center">
        <span class="glyphicon glyphicon-signal logo"></span>
      </div>
      <div class="col-sm-8">
        <h2>O7PM - Performance Management - Solución de Evaluación del Desempeño</h2>
        <p>Solución en la nube que permite evaluar el desempeño y talento potencial de los colaboradores de una organización. Incluye la definición de competencias genéricas, competencias por niveles en la organización, competencias por puestos de trabajo y establecer objetivos por cada uno de los supervisores con sus equipos de trabajo para su posterior seguimiento y evaluación. Permite definir múltiples modelos de evaluación y escalas de valoración con calendarios predefinidos para completar las evaluaciones, tener feedback del colaborador y calibrar los resultados finales por la gerencia. Incluye la generación de la matriz 9Box y dashboards de estadísticas de resultados del proceso de evaluación.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid-about slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-8">
        <h2>O7RM - Recruitment Management - Solución de Reclutamiento y Selección</h2>
        <p>Solución en la nube que permite gestionar necesidades de contratación de personal mediante flujos configurables de procesos de reclutamiento y selección. Incluye un portal para la actualización de candidatos y sus hojas de vida, base de datos que se mantiene actualizada, segmentada y con facilidades de búsqueda para una rápida elección de una terna y completar el proceso de evaluación y validación con el área solicitante. Incluye estadísticas de reclutamiento y se integra con procesos de abordaje del colaborador a la organización.</p>
      </div>
      <div class="col-sm-4 text-center">
        <span class="glyphicon glyphicon-globe logo"></span> 
      </div>
    </div>
  </div>
  <div class="container-fluid-about bg-gray slide-line to-slide invisible">
    <div class="row">
      <div class="col-sm-4 text-center vertical-center">
        <span class="glyphicon glyphicon-signal logo"></span>
      </div>
      <div class="col-sm-8">
        <h2>O7LM - Learn Management - Solución de Capacitación, Desarrollo y Aprendizaje</h2>
        <p>Solución en la nube que permite recopilar necesidades de capacitación, asociarlas a competencias, preparar mallas curriculares, generar presupuestos y mantener actualizado los programas de aprendizaje. Registrar la ejecución de los cursos, resultados obtenidos y controles mínimos requeridos por curso. Incluye estadísticas de capacitación y se integra con procesos de e-learning.</p>
      </div>
    </div>
  </div>
</section>
