<% content_for :nav_alt do %>
  navbar-alt
<% end %>
<section id="joinUs">
  <div class="join-container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Únete a nosotros</h2>
        <hr class="primary">
      </div>
    </div>
    <div class="flex-container">
      <div class="flex-item text-center">
        <div class="join-box">
          <a class="no-decoration" href="unete/profesionales-con-experiencia">
            <img src="<%= image_url("media/join/senior.jpg")%>" class="img-responsive" alt="">
            <div class="join-info">
              <h4>Profesionales con experiencia</h4>
              <p>Leer más</p>
            </div>
          </a>
        </div>
      </div>
      <div class="flex-item text-center">
        <div class="join-box">
          <a class="no-decoration" href="unete/profesionales-jovenes">
            <img src="<%= image_url("media/join/young.jpg")%>" class="img-responsive" alt="">
            <div class="join-info">
              <h4>Jóvenes profesionales</h4>
              <p>Leer más</p>
            </div>
          </a>
        </div>
      </div>
      <div class="flex-item text-center">
        <div class="join-box">
          <a class="no-decoration" href="unete/practicantes">
            <img src="<%= image_url("media/join/students.jpg")%>" class="img-responsive" alt="">
            <div class="join-info">
              <h4>Estudiantes y recién egresados</h4>
              <p>Leer más</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
