  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-alt">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Navegador</span> Menú <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="/">Angkor Group</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/#about">¿Quiénes somos?</a>
          </li>
          <li>
            <a href="/#services">Servicios</a>
          </li>
          <li>
            <a href="/#portfolio">Soluciones</a>
          </li>
          <li>
            <a href="/partners">Partners</a>
          </li>
          <li>
            <a href="/contactanos">Contáctanos</a>
          </li>
          <li class="active">
            <a href="/unete">Únete</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="joinUs">
    <div class="join-container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Únete a nosotros</h2>
          <hr class="primary">
        </div>
      </div>
      <div class="flex-container">
        <div class="flex-item text-center">
          <div class="join-box">
            <a class="no-decoration" href="unete/profesionales-con-experiencia">
              <img src="<%= image_url("media/join/senior.jpg")%>" class="img-responsive" alt="">
              <div class="join-info">
                <h4>Profesionales con experiencia</h4>
                <p>Leer más</p>
              </div>
            </a>
          </div>
        </div>
        <div class="flex-item text-center">
          <div class="join-box">
            <a class="no-decoration" href="unete/profesionales-jovenes">
              <img src="<%= image_url("media/join/young.jpg")%>" class="img-responsive" alt="">
              <div class="join-info">
                <h4>Jóvenes profesionales</h4>
                <p>Leer más</p>
              </div>
            </a>
          </div>
        </div>
        <div class="flex-item text-center">
          <div class="join-box">
            <a class="no-decoration" href="unete/practicantes">
              <img src="<%= image_url("media/join/students.jpg")%>" class="img-responsive" alt="">
              <div class="join-info">
                <h4>Estudiantes y recién egresados</h4>
                <p>Leer más</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
