<% content_for :nav_alt do %>
  navbar-alt
<% end %>
<section id="joinSenior" class="join-view-detail">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Profesionales con experiencia</h2>
        <hr class="primary">
      </div>

      <div class="col-lg-4 text-center">
        <img src="<%= image_url("media/join/senior.jpg")%>" class="img-responsive" alt="">
      </div>

      <div class="col-lg-8">
        En Angkor te ofrecemos un ambiente dinámico donde podrás aplicar tus conocimientos, experiencias y retos por la diversidad de proyectos, tecnologías, sectores de clientes y desarrollo de nuevas líneas de negocio que atendemos. Estas iniciativas te permitirán capitalizar tus mayores potencialidades sumado a un equipo de trabajo de alto rendimiento con elevados estándares de integridad y comportamiento ético. Te ofrecemos una línea de carrera que permita consolidar posiciones seniors, de gerencia y ejecutivas.
        La velocidad lo estableces tú!.
      </div>

    </div>
  </div>
</section>

<%= render 'form' %>
