  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-alt">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Navegador</span> Menú <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="/">Angkor Group</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/#about">¿Quiénes somos?</a>
          </li>
          <li>
            <a href="/#services">Servicios</a>
          </li>
          <li>
            <a href="/#portfolio">Soluciones</a>
          </li>
          <li>
            <a href="/partners">Partners</a>
          </li>
          <li>
            <a href="/contactanos">Contáctanos</a>
          </li>
          <li class="active">
            <a href="/unete">Únete</a>
          </li>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acceder <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><h4>Clientes</h4></li>
              <li><a href="#">E-support</a></li>
              <li><a href="http://190.117.252.113:8889/">Factura electrónica</a></li>
              <li><a href="#">ERP en la nube</a></li>
              <li><a href="#">Control de asistencias</a></li>
              <li><a href="#">Inteligencia de negocios</a></li>
              <li role="separator" class="divider"></li>
              <li><h4>Staff</h4></li>
              <li><a href="#">Correo</a></li>
              <li><a href="#">Gestión de tiempos</a></li>
              <li><a href="#">Autoservicio</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section id="joinStudents" class="join-view-detail">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Estudiantes y recién egresados</h2>
          <hr class="primary">
        </div>

        <div class="col-lg-4 text-center">
          <img src="<%= image_url("media/join/students.jpg")%>" class="img-responsive" alt="">
        </div>

        <div class="col-lg-8">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>

      </div>
    </div>
  </section>


  <!-- Formulario para postular -->

  <section id="joinForm">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Únete a nosotros</h2>
          <hr class="primary">
        </div>
      </div>
      <form>
        <div class="row">
          <div class="col-md-6">

            <div class="form-group">
              <label>Nombres</label>
              <input type="text" class="form-control" id="name" name="name" required data-validation-required-message="Por favor ingresa tu nombre.">
              <p class="help-block text-danger"></p>
            </div>

            <div class="form-group">
              <label>Apellido paterno</label>
              <input type="text" class="form-control" name ="apPaterno" id="apPaterno" required data-validation-required-message="Por favor ingresa tu apellido paterno.">
              <p class="help-block text-danger"></p>
            </div>

            <div class="form-group">
              <label>Apellido materno</label>
              <input type="text" class="form-control" id="apMaterno" name="apMaterno" required data-validation-required-message="Por favor ingresa tu apellido materno.">
              <p class="help-block text-danger"></p>
            </div>

            <div class="form-group">
              <label>Correo electrónico</label>
              <input type="email" class="form-control" name ="email" id="email" required data-validation-required-message="Por favor ingresa tu correo.">
              <p class="help-block text-danger"></p>
            </div>

            <div class ="col-sm-6 form-input-left">
              <div class="form-group">
                <label>Tipo de documento</label>
                <select class="form-control" name="tipoDoc">
                  <option value="0">DNI</option>
                  <option value="1">Carnet de Extranjería</option>
                  <option value="2">Pasaporte</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6 form-input-right">
              <div class="form-group">
                <label>Número de documento</label>
                <input type="text" class="form-control" id="numDoc" name ="numDoc" required="">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class ="col-lg-12 form-input">
              <div class="form-group">
                <label>Tipo de estudios</label>
                <select class="form-control" id="tipoEstudio" name="tipoEstudio">
                  <option value="0">Universitario</option>
                  <option value="1">Técnico</option>
                </select>
              </div>
            </div>

            <div class="col-lg-12 form-input">
              <div class="form-group">
                <label>Universidad/Instituto/Escuela</label>
                <input type="text" class="form-control" id="universidad" name ="universidad" required="">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="col-lg-12 form-input">
              <div class="form-group">
                <label>Último ciclo cursado</label>
                <input type="text" class="form-control" id="ciclo" name ="ciclo" required="">
                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="col-lg-12 form-input">
              <div class="form-group">
                <label>Áreas de interés</label>

                <!-- Opciones area de interes -->
                <button type="button" class="accordion">
                  <i class="fa fa-angle-right rotate"></i>
                  Consultoría
                </button>
                <div class="accordion-panel">
                  <div id="consultoria" class="form-group panel-content">
                    <label>Seleccione las áreas de consultoría que le interesen</label>
                    <div class="checkbox">
                      <label for="c1C"><input type="checkbox" id="c1C" name="cc" /> Procesos </label>
                    </div>
                    <div class="checkbox">
                      <label for="c2C"><input type="checkbox" id="c2C" name="cc" /> Riesgos</label>
                    </div>
                    <div class="checkbox">
                      <label for="c3C"><input type="checkbox" id="c3C" name="cc" /> Recursos Humanos</label>
                    </div>
                    <div class="checkbox">
                      <label for="c4C"><input type="checkbox" id="c4C" name="cc" /> Gestión de Proyectos</label>
                    </div>
                  </div>
                </div>

                <button type="button" class="accordion">
                  <i class="fa fa-angle-right rotate"></i>
                  Tecnologías de la Información
                </button>
                <div class="accordion-panel">
                  <div id="tecInf" class="form-group panel-content">
                    <label>Seleccione las áreas de Tecnologías de Información que le interesen</label>
                    <div class="checkbox">
                      <label for="c1T"><input type="checkbox" id="c1T" name="cc" /> Desarrollo</label>
                    </div>
                    <div class="checkbox">
                      <label for="c2T"><input type="checkbox" id="c2t" name="cc" /> Implementación de soluciones</label>
                    </div>
                    <div class="checkbox">
                      <label for="c3T"><input type="checkbox" id="c3T" name="cc" /> Base de Datos</label>
                    </div>
                    <div class="checkbox">
                      <label for="c4T"><input type="checkbox" id="c4T" name="cc" /> Inteligencia de Negocios</label>
                    </div>
                    <div class="checkbox">
                      <label for="c5T"><input type="checkbox" id="c5T" name="cc" /> Infraestructura</label>
                    </div>
                  </div>
                </div>

                <button type="button" class="accordion">
                  <i class="fa fa-angle-right rotate"></i>
                  Outsourcing
                </button>
                <div class="accordion-panel">
                  <div id="outsoursing" class="form-group panel-content">
                    <label>Seleccione las áreas de Outsourcing que le interesen</label>
                    <div class="checkbox">
                      <label for="c1O"><input type="checkbox" id="c1O" name="cc" /> Mantenimiento de Aplicaciones</label>
                    </div>
                    <div class="checkbox">
                      <label for="c2O"><input type="checkbox" id="c2O" name="cc" /> Fábrica de Software</label>
                    </div>
                    <div class="checkbox">
                      <label for="c3O"><input type="checkbox" id="c3O" name="cc" /> Business Process Outsourcing</label>
                    </div>
                    <div class="checkbox">
                      <label for="c4O"><input type="checkbox" id="c4O" name="cc" /> Base de Datos Oracle</label>
                    </div>
                  </div>
                </div>

                <button type="button" class="accordion">
                  <i class="fa fa-angle-right rotate"></i>
                  Administración
                </button>
                <div class="accordion-panel">
                  <div id="administracion" class="form-group panel-content">
                    <label>Seleccione las áreas de Administración  que le interesen</label>
                    <div class="checkbox">
                      <label for="c1A"><input type="checkbox" id="c1A" name="cc" /> RRHH</label>
                    </div>
                    <div class="checkbox">
                      <label for="c2A"><input type="checkbox" id="c2A" name="cc" /> Contabilidad</label>
                    </div>
                    <div class="checkbox">
                      <label for="c3A"><input type="checkbox" id="c3A" name="cc" /> Tesorería</label>
                    </div>
                    <div class="checkbox">
                      <label for="c4A"><input type="checkbox" id="c4A" name="cc" /> Facturación y Cobranzas</label>
                    </div>
                    <div class="checkbox">
                      <label for="c5A"><input type="checkbox" id="c5A" name="cc" /> Logística</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-12 form-input">
                <label>Competencias técnicas de interés</label>
              </div>

              <div class="col-lg-6 form-input">
                <div class="checkbox">
                  <label for="ct1"><input type="checkbox" id="ct1" name="ct1" /> Aplicaciones móviles</label>
                </div>
                <div class="checkbox">
                  <label for="ct2"><input type="checkbox" id="ct2" name="ct2" /> Desarrollo web</label>
                </div>
                <div class="checkbox">
                  <label for="ct3"><input type="checkbox" id="ct3" name="ct3" /> ERP</label>
                </div>
                <div class="checkbox">
                  <label for="ct4"><input type="checkbox" id="ct4" name="ct4" /> Business intelligence</label>
                </div>
              </div>
              <div class="col-lg-6 form-input">
                <div class="checkbox">
                  <label for="ct5"><input type="checkbox" id="ct5" name="ct5" /> Servicios web</label>
                </div>
                <div class="checkbox">
                  <label for="ct6"><input type="checkbox" id="ct6" name="ct6" /> ECM</label>
                </div>
                <div class="checkbox">
                  <label for="ct7"><input type="checkbox" id="ct7" name="ct7" /> Aplicaciones móviles</label>
                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="col-lg-12 form-input">
                <label>Competencias funcionales</label>
              </div>
              <div class="col-lg-6 form-input">
                <div class="checkbox">
                  <label for="cf1"><input type="checkbox" id="cf1" name="cf1" /> Finanzas</label>
                </div>
                <div class="checkbox">
                  <label for="cf2"><input type="checkbox" id="cf2" name="cf2" /> RRHH</label>
                </div>
                <div class="checkbox">
                  <label for="cf3"><input type="checkbox" id="cf3" name="cf3" /> Logística</label>
                </div>
                <div class="checkbox">
                  <label for="cf4"><input type="checkbox" id="cf4" name="cf4" /> Contabilidad</label>
                </div>
                <div class="checkbox">
                  <label for="cf5"><input type="checkbox" id="cf5" name="cf5" /> Manufactura</label>
                </div>
                <div class="checkbox">
                  <label for="cf6"><input type="checkbox" id="cf6" name="cf6" /> Costos</label>
                </div>
              </div>
              <div class="col-lg-6 form-input">
                <div class="checkbox">
                  <label for="cf7"><input type="checkbox" id="cf7" name="cf7" /> Activo fijo</label>
                </div>
                <div class="checkbox">
                  <label for="cf8"><input type="checkbox" id="cf8" name="cf8" /> Indicadores de gestión</label>
                </div>
                <div class="checkbox">
                  <label for="cf9"><input type="checkbox" id="cf9" name="cf9" /> Gestión comercial</label>
                </div>
                <div class="checkbox">
                  <label for="cf10"><input type="checkbox" id="cf10" name="cf10" /> Gestión de proyectos</label>
                </div>
                <div class="checkbox">
                  <label for="cf11"><input type="checkbox" id="cf11" name="cf11" /> Costos ABC</label>
                </div>
                <div class="checkbox">
                  <label for="cf12"><input type="checkbox" id="cf12" name="cf7" /> Gestión de contenidos</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-12 form-input">
                <label>Tecnologías de interés</label>
                <textarea class="form-control" placeholder="Ejemplo: Visual Basic .Net, C#, HTML5, JAVA, Oracle PL/SQL..." rows="4" id="ti" name="ti"></textarea>
              </div>
            </div>

            <div class="col-lg-12 form-input-left">
              <div class="form-group">
                <label>Adjunta tu CV</label>
                <input type="file" id="cv" name="cv" required="">
              </div>
            </div>

          </div>
        </div>

        <div class="row join-button">
          <div class="col-lg-12 text-center">
            <div id="success"></div>
            <button type="submit" class="btn btn-xl btn-primary">Postular</button>
          </div>
        </div>
      </form>
    </div>
  </section>
