<% content_for :nav_alt do %>
  navbar-alt
<% end %>
<section id="joinStudents" class="join-view-detail">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Estudiantes y recién egresados</h2>
        <hr class="primary">
      </div>

      <div class="col-lg-4 text-center">
        <img src="<%= image_url("media/join/students.jpg")%>" class="img-responsive" alt="">
      </div>

      <div class="col-lg-8">
        En Angkor potenciamos tu desarrollo profesional y experiencia personal. Nuestras múltiples líneas de negocios y servicios sumado a plataformas modernas de tecnología te permitirán acelerar y consolidar tus conocimientos en experiencias concretas, disruptivas e innovadoras. Nuestro compromiso es acompañarte en este proceso de desarrollo y que día a día tengas una vivencia enriquecedora. Te ofrecemos horarios flexibles, tele-trabajo y retos permanentes en los proyectos asignados.
        Los límites lo defines tú!
      </div>

    </div>
  </div>
</section>

<%= render 'form' %>
