<% content_for :nav_alt do %>
  navbar-alt
<% end %>
<section id="joinYoung" class="join-view-detail">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Profesionales jóvenes</h2>
        <hr class="primary">
      </div>

      <div class="col-lg-4 text-center">
        <img src="<%= image_url("media/join/young.jpg")%>" class="img-responsive" alt="">
      </div>

      <div class="col-lg-8">
        En Angkor atendemos diversos proyectos personalizados para atender las necesidades específicas de nuestros clientes así como el desarrollo de productos y aplicaciones que implementamos en el mercado. Somos socios de negocio de las principales empresas de tecnología del mundo, desarrollamos proyectos con mejores prácticas de negocio y con uso de metodologías y estándares, atendiendo diferentes tamaños de clientes. Te ofrecemos integrar equipos de trabajo multidisciplinarios donde combinarás conocimientos, experiencias y manejo de proyectos.
        Tu crecimiento lo gestionas tú!
      </div>

    </div>
  </div>
</section>

<%= render 'form' %>